
.prof {

}
.description {
padding-left: 15px;

}
.description img {
    height: 250px;
  }
.myposts {
padding-left: 15px;
vertical-align: top;

}
.post {
text-align: justify;
vertical-align: top;
padding-top: 20px;

}
.posts {
  width: 600px;
}
.button {
padding-bottom: 15px;
cursor: pointer;
padding-bottom: 20px;
}
.item {
padding-left: 15px;
align-items: center;
}
.item img {
width: 70px;
border-radius: 35px;
}
.span {
padding-left: 15px;
}
.likecount {
font-size: medium;
vertical-align: text-bottom;
}

.status {
  min-width: 200px;
  min-height: 25px;
  border: 1px solid rgb(255, 255, 255);
}
