
.prof {

}
.description {
  padding-left: 15px;

}
.myposts {
  padding-left: 15px;

}
.posts img {
  width: 100%;
}
.button {
  padding-bottom: 15px;
}

.item {
padding-left: 15px;
}
.item img {
width: 70px;
border-radius: 35px;

}
.span {
  padding-left: 15px;
}
.likecount {
}
