
.nav {
  grid-area: nav;
  background-color: rgb(138, 36, 36);
  color: rgb(255, 251, 251);
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: x-large;
  
}
.item {
  background-color: rgb(138, 36, 36);
  color: rgb(255, 251, 251);
  padding-top: 15px;
  padding-left: 15px;
  font-size: xx-large;
}
a:link {
  color: #FFF;
  text-decoration: none;
}

a:visited {
  color: #FFF;
}

a:hover {
  color: rgb(232, 189, 88);
  text-decoration-line: none;
}

a:active {
  color: #edd19b;
}
.item a.active {
  color: rgb(255, 255, 255);
  font-size: xx-large;
  background-color: rgb(138, 36, 36);
}