.App-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr ;
  grid-template-areas:
  "head head"
  "nav prof"
  "foot foot";
  font-family: serif;
}

.App-wrapper-content {
  grid-area: prof;
  background-color: white;
  color: rgb(142, 9, 9);
  font-size: x-large;
}

